<html ng-app="MyApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <title>Todo App</title>
    <link rel="stylesheet" href="vendor/angular-material/angular-material.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="css/poc.css">
</head>
<body>

<div ng-controller="AppCtrl" class="sample tabsdemoDynamicTabs" layout="column" ng-cloak="" ng-app="MyApp">
    <md-content class="md-padding">
        <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">

                <!-- <md-toolbar class="md-menu-toolbar">
                     <div layout="row">
                         <md-toolbar-filler layout layout-align="center center">
                             <md-icon md-svg-icon="call:chat"></md-icon>
                         </md-toolbar-filler>
                     </div>
                     <div class="md-toolbar-tools">My Tasks</div>
                 </md-toolbar>-->

                <!-- <md-toolbar md-scroll-shrink>
                     <div>
                         <md-toolbar-filler layout layout-align="center center">
                             <md-icon md-svg-icon="call:chat"> TEst </md-icon>
                         </md-toolbar-filler>
                     </div>
                     <div class="md-toolbar-tools">My Tasks</div>

                 </md-toolbar>-->
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Settings">
                            <i class="material-icons">face</i>
                        </md-button>
                        <h2>
                            <span>Toolbar with Icon Buttons</span>
                        </h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap>
                    <div flex="30">
                        <md-subheader class="md-primary">Backlog</md-subheader>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="task in tasks">
                                <div class="md-list-item-text">
                                    <h3>{{task.id}}</h3>
                                    <h4>{{task.author}}</h4>

                                    <p>{{task.desc}}</p>
                                </div>
                                <md-button class="md-secondary">Respond</md-button>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex="45">
                        <md-subheader class="md-primary">Ongoing</md-subheader>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="task in tasks">
                                <div class="md-list-item-text">
                                    <h3>{{task.id}}</h3>
                                    <h4>{{task.author}}</h4>

                                    <p>{{task.desc}}</p>
                                </div>
                                <md-button class="md-secondary">Respond</md-button>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex="25">
                        <md-subheader class="md-primary">Done</md-subheader>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="task in tasks">
                                <div class="md-list-item-text">
                                    <h3>{{task.id}}</h3>
                                    <h4>{{task.author}}</h4>

                                    <p>{{task.desc}}</p>
                                </div>
                                <md-button class="md-secondary">Respond</md-button>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

                <md-content>

                </md-content>


                <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                    <div ng-bind="tab.content"></div>
                    <br>
                    <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">
                        Remove Tab
                    </md-button>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>

    <form ng-submit="addTab(tTitle,tContent)" layout="column" class="md-padding" style="padding-top: 0;">
        <div layout="row" layout-sm="column">
            <div flex="" style="position: relative;">
                <h2 class="md-subhead"
                    style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">
                    Add a new Tab:</h2>
            </div>
            <md-input-container>
                <label for="label">Label</label>
                <input type="text" id="label" ng-model="tTitle">
            </md-input-container>
            <md-input-container>
                <label for="content">Content</label>
                <input type="text" id="content" ng-model="tContent">
            </md-input-container>
            <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit"
                       style="margin-right: 0;">Add Tab
            </md-button>
        </div>
    </form>

</div>

</body>
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-animate/angular-animate.min.js"></script>
<script src="vendor/angular-aria/angular-aria.js"></script>
<script src="vendor/angular-messages/angular-messages.min.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
<script src="vendor/angular-material/angular-material.js"></script>

<script src="lib/poc.js"></script>
</html>