<md-dialog aria-label="New Task">
    <md-content class="md-padding">
        <div class="md-actions" layout="row" ng-show="isLoading">
            <span flex></span>
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="96"></md-progress-circular>
            <span flex></span>
        </div>
        <form name="TaskForm" ng-hide="isLoading">
            <div layout layout-sm="column">
                <md-input-container flex><label>Task Name</label> <input ng-model="task.taskName"
                                                                         placeholder="Task Name">
                </md-input-container>
                <md-input-container flex><label>Description</label><input ng-model="task.description"
                                                                          placeholder="Description">
                </md-input-container>
            </div>

            <md-radio-group ng-model="task.state">
                <md-radio-button value="TODO" class="md-primary">TODO</md-radio-button>
                <md-radio-button value="ONGOING"> ONGOING</md-radio-button>
                <md-radio-button value="DONE">DONE</md-radio-button>
            </md-radio-group>


        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="cancelAddTask()"> Cancel</md-button>
        <md-button ng-click="addTask(task)" class="md-primary"> Save</md-button>
    </div>
</md-dialog>