<md-dialog aria-label="New Task">
    <md-content class="md-padding">
        <div class="md-actions" layout="row" ng-show="isLoading">
            <span flex></span>
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="96"></md-progress-circular>
            <span flex></span>
        </div>
        <form name="UserForm" ng-hide="isLoading">

            <span>Assign To</span>

            <span flex></span>
            <md-input-container>
                <label>Users</label>
                <span flex></span>
                <md-select ng-model="result.userId">
                    <md-option ng-repeat="usr in usersList" value="{{usr.userId}}">{{usr.userName}}</md-option>
                </md-select>
            </md-input-container>

        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="cancelAUpdateTask()"> Cancel</md-button>
        <md-button ng-click="assignToUser(result, task)" class="md-primary"> Assign</md-button>
    </div>
</md-dialog>
