<md-dialog aria-label="New Task">
    <div class="md-actions" layout="row" ng-show="isLoading">
        <span flex></span>
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="96"></md-progress-circular>
        <span flex></span>
    </div>

    <div class="md-actions" layout="row" ng-hide="isLoading"><span flex></span>
        <md-button ng-click="cancelProjectDeletion¬()"> Cancel</md-button>
        <md-button ng-click="deleteProjectBtn()" class="md-primary"> Delete Project</md-button>
    </div>
</md-dialog>