<md-dialog aria-label="New Task">
    <md-content class="md-padding">
        <form name="UserForm">
            <div flex="" style="position: relative;">
                <h3 class="md-subhead"> User</h3>
            </div>
            <md-input-container>
                <label for="label">Sign Up</label>
                <input type="text" id="label" ng-model="user.userName">
            </md-input-container>
            <md-input-container>


        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="cancelUser()"> Cancel</md-button>
        <md-button ng-click="addUser(user)" class="md-primary"> Save</md-button>
    </div>
</md-dialog>