<md-dialog aria-label="New Task">
    <md-content class="md-padding">
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="96"></md-progress-circular>
        <form name="UserForm" ng-hide="isLoading">

            <md-input-container>
                <label for="label">Sign Up</label>
                <input type="text" id="label" ng-model="user.userName" placeholder="Add your user name">
            </md-input-container>

        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="guestUser()"> SingIn as a GUEST</md-button>
        <md-button ng-click="addUser(user)" class="md-primary"> SingIN / SignUp</md-button>
    </div>
</md-dialog>